<div class="container">
    <h1>Bienvenue dans la création d'utilisateurs !</h1>

    <%= form_for @user, url: {action: "create2"} do |f| %>

    <div class="row">
        <div class="col form-group name">
            <%=f.label :username %>
        <%=f.text_field :username, placeholder: "Votre Username" %>
    </div>


    <div class="col form-group mail">
        <%=f.label :email %>
        <%=f.text_field :email, placeholder: "Votre Email" %>
    </div>
</div>

<div class="col form-group bio">
       <%=f.label :bio %>
        <%=f.text_area :bio, rows: "4", cols: "50", placeholder: "Votre Bio" %>
</div>

<div class="validation form-group"> 
   <%= f.submit   class: "btn btn-info btn-default" %>
</div>
<%end%>
</div>